* {
    box-sizing: border-box;
}
.own {
    background: #E3DCC2;
}
.own1 {
    background: #E3DCC2;
}
.own2 {
    background: #FCFCED;
}
.own3 {
    right: 25px;
    position: absolute;
    align-items: center;
}
.own4 {
    background: #FCFCED;
}
.own5 {
    background: #FCFCED;
}
.own6 {
    background: #FCFCED;
    display: flex;
    justify-content: center;
}
.own9 {
    background: #FCFCED;
    display: flex;
    justify-content: center;
}
.own7 {
    background: #FCFCED;
    display: flex;
    justify-content: flex-start;
}
.own10 {
    background: #FCFCED;
    display: relative;
    justify-content: center;
}
.no-inline {
    width: auto;
}
.avoid {
    width: 100%;
}
.avoidtoo {
    width: 1%;
}
.maravelomid {
    text-align: center;
}
.mgtop25px {
    margin-top: 25px;
}
.colortextfooter {
    color: #3fabb5;
}
.slightb {
    background: rgba(0, 0, 0, 0.2);
}
.sidsteknap {
    opacity: 0.6;
}
.sidsteknap:hover {
    opacity: 1;
}
.cntr {
    width: 631px;
}
.cntr1 {
    width: 631px;
}
.streger1 {
    margin-top: 50px;
    position: relative;
    left: -450px;
    width: 100%;
}
.streger12 {
    position: relative;
    left: -450px;
    width: 100%;
    margin-top: -30px;
}
.storr {
    margin-top: 50px;
    border-radius: 5px;
}
.storr1 {
    margin-top: 50px;
    border-radius: 5px;
    width: 630px;
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: #D10E20;
    border: none;
    color: #FCFCED;
    border-radius: 100%;
}
body {
    background: #FCFCED;
}
footer {
    background: #E3DCC2;
}
.mb-4 h6 {
    color: black;
}
.logoheaderikon {
    width: 250px;
}
.knaplord2 {
    background: #E3DCC2;
    padding: 5px 5px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
.ncnp {
    text-align: center;
    margin-top: 50px;
    width: 100%;
}
.cntr {
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    width: 631px;
}
.linehojde {
    line-height: 200%;
}
.luft {
    margin-top: 25px;
}
.slides-container {
    position: relative;
    margin-top: 65px;
}
.mySlides {
    display: none;
}
.cursor {
    cursor: pointer;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #FCFCED;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
    color: #FCFCED;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.cntr .linjer {
    text-decoration: underline;
}
.caption-container {
    text-align: center;
    background: black;
    padding: 2px 16px;
    color: white;
}
.slider-roow:after {
    content: "";
    display: table;
    clear: both;
}
.demo {
    opacity: 0;
}
.smallenoughtocenter {
    text-align: center;
}
.kontakt-form {
    padding: 50px;
    background: #FCF6D6;
    margin-top: 50px;
    border-radius: 5px;
    margin-bottom: 100px;
}
.kontakt-form h2 {
    font-weight: 500;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}
.kontakt-form .inputbox {
    font-family: monospace;
    position: relative;
}
.kontakt-form .inputbox input, .kontakt-form .inputbox textarea {
    padding: 5px 0;
    font-size: 18px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #222222;
    outline: none;
    resize: none;
    width: 100%;
}
.kontakt-form .inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    margin: 10px 0;
    pointer-events: none;
    transition: 1s;
}
.kontakt-form .inputbox input:focus ~ span, .kontakt-form .inputbox input:valid ~ span, .kontakt-form .inputbox textarea:focus ~ span, .kontakt-form .inputbox textarea:valid ~ span {
    color: #D10E20;
    font-size: 10px;
    transform: translate(-35px);
}
.kontakt-form .inputbox input[type="submit"] {
    width: 100%;
    background: #E3DCC2;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}